* {
    border: none;
    border-radius: 0;
    font-size: 20px;
    font-weight: normal;
    min-height: 0px;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-family: "IBM Plex Sans";
    /* margin-left: 20; */
    /* margin-right: 20; */
}

#workspaces button {
    font-family: "IBM Plex Sans";
    padding: 0 0;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    font-family: "IBM Plex Sans";
    border-top: 2px solid;
    color: #c9545d;
}

#custom-window-indicator {
    font-family: "IBM Plex Sans";
}

#custom-info {
    font-family: "BlexMono Nerd Font Proto";
    color: #13ed22;
}

#custom-brightness {
    font-family: "BlexMono Nerd Font Mono";
    color: #1b5982;
}

#network {
    font-family: "BlexMono Nerd Font Proto";
    color: #456d2f
}

#custom-audio {
    font-family: "BlexMono Nerd Font Mono";
    color: #1b5982;
}

#custom-battery {
    font-family: "BlexMono Nerd Font Mono";
    color: #b02727;
}

#custom-time {
    font-family: "BlexMono Nerd Font Mono";
    color: #207343;
}
