* {
    border: none;
    border-radius: 0;
    font-size: 20px;
    font-weight: normal;
    min-height: 0px;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces button {
    padding: 0 0;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    border-top: 2px solid;
    color: #c9545d;
}

#custom-info {
    color: #13ed22;
}

#network {
    color: #eb7878;
}

#custom-audio {
    color: #1b5982;
}

#custom-battery {
    color: #b02727;
}

#custom-time {
    color: #207343;
}

#cpu {
    color: #13ed22;
}

#temperature {
    color: #456d2f
}

#temperature.warning {
    color: #13ed22;
}

#temperature.critical {
    color: #b02727;
}

#memory {
    color: #38948c;
}
