@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: Symbols Nerd Font Mono, IBM Plex Sans, IBM Plex Sans SC, IBM Plex Sans TC, IBM Plex Sans JP, IBM Plex Sans KR, Noto Color Emoji;
    font-size: 20px;
    font-weight: normal;
    min-height: 0px;
}

window#waybar {
    background: transparent;
    color: @text;
}

#workspaces button {
    padding: 0 0;
    background: transparent;
    color: @text;
}

#workspaces button.focused {
    border-top: 2px solid;
    color: @red;
}

#custom-info {
    color: #13ed22;
}

#network {
    color: @maroon;
}

#custom-audio {
    color: @mauve;
}

#custom-battery {
    color: @Red;
}

#custom-time {
    color: @green;
}

#cpu {
    color: @yellow;
}

#temperature {
    color: @rosewater
}

#temperature.warning {
    color: @peach;
}

#temperature.critical {
    color: @red;
}

#memory {
    color: @pink;
}
