* {
    border: none;
    border-radius: 0;
    font-family: "Maple Mono NF CN";
    font-size: 20px;
    min-height: 0px;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    margin-left: 20;
    margin-right: 20;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    color: #c9545d;
}

#custom-temperature {
    color: #13ed22;
}

#custom-brightness {
    color: #1b5982;
}

#custom-audio {
    color: #1b5982;
}

#custom-battery {
    color: #b02727;
}

#custom-time {
    color: #207343;
}
