[Desktop Entry]
Name=󰘑 wechat
Exec=env QT_SCREEN_SCALE_FACTORS=1;2 QT_QPA_PLATFORM=wayland /home/spreadzhao/Applications/Wechat/WeChatLinux_x86_64.AppImage %U
StartupNotify=true
Terminal=false
Icon=/usr/share/icons/hicolor/256x256/apps/wechat.png
Type=Application
Categories=Utility;
Comment=Wechat Desktop
Comment[zh_CN]=微信桌面版
